.app_dark_theme {
  --bg-color: #090949;
  --inverted-bg-color: #e8e8ea;
  --primary-color: #05ff05;
  --secondary-color: #059405;
  --inverted-primary-color: #051d66;
  --inverted-secondary-color: #054be0;
}
