.app.dark {
  --bg-color: #090949;
  --inverted-bg-color: #e8e8ea;
  --primary-color: hwb(120deg 2% 42%);
  --secondary-color: rgb(5 255 5);
  --inverted-primary-color: rgb(5 29 102);
  --inverted-secondary-color: rgb(5 75 224);
}
